// body {
//     background-color: #ffff;
//   }

.top-history-search-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 300px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    // color: #ffff;
    text-shadow: inset 1px 1px 1px #0c0d0f;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #fff;
    background-image: url(http://unsplash.it/700?image=10);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-history-search-card .tl,
.top-history-search-card .tr,
.top-history-search-card .bl,
.top-history-search-card .br {
    width: 0;
    height: 0;
    position: absolute;
    border-color: #ffff;
}
.top-history-search-card .tl {
    top: -1px;
    left: -1px;
    border-top: 30px solid #ffff;
    border-right: 30px solid transparent;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.top-history-search-card .tr {
    top: -1px;
    right: -1px;
    border-top: 30px solid #ffff;
    border-left: 30px solid transparent;
}
.top-history-search-card .bl {
    bottom: -1px;
    left: -1px;
    border-bottom: 30px solid #ffff;
    border-right: 30px solid transparent;
}
.top-history-search-card .br {
    bottom: -1px;
    right: -1px;
    border-bottom: 30px solid #ffff;
    border-left: 30px solid transparent;
}
