.player-queue {
    &::-webkit-scrollbar {
        width: 0.5em;
        height: 97px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fec6c5;
        border-radius: 3px;

        &:hover {
            background: #ffb6b5;
        }
    }

    position: absolute;
    top: 0;
    right: 0;
    width: 32rem;
    height: 100%;
    background-color: #e2e3ee;
    z-index: 100;
    transform: translateX(100%);
    opacity: 0.5;

    overflow-y: auto;

    padding: 0 8px;

    transition: all 0.6s;

    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3), inset 0 1px 1px hsla(0, 0%, 100%, 0.3);
}

.player-queue--active {
    transform: translateX(0);
    opacity: 1;
}

.queue-title {
    font-size: 1.6rem;
    font-weight: 500;

    color: var(--sub-color);

    padding: 20px 0;
}

.front-songs {
    .song-item:not(:last-child) {
        margin-bottom: 8px;
    }
    .song-item:last-child {
        background-color: #f2f3f4 !important;
        color: #fff;
    }
}

.back-songs {
    &__title {
        color: #212144;
        font-size: 1.3rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .song-item:not(:last-child) {
        margin-bottom: 8px;
    }
}
