.search-auto {
    max-width: 400px;
    position: relative;
}
.search-form {
    position: relative;
    width: 100%;
    z-index: 10;
}
.search-auto-input {
    padding: 1.5rem;
    width: 100%;
    display: block;

    border: none;
    outline: none;
    border-radius: 25px;

    background-color: #fff;
    transition: 0.2s ease;

    color: #000;
    height: 40px;
    padding: 6px 48px;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;

    border: 0px;
}

.search-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}
.search-auto-list:before {
    content: '';
    height: 1px;
    width: 400px;
    left: 0;
    top: 41px;
    z-index: 1000;
    background-color: rgba(50, 0, 0, 0.1);
    position: absolute;
}

.search-auto-list {
    position: absolute;
    top: calc(100% - 40px);
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1.5rem 1rem 1.5rem;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    border-radius: 25px;
    padding-top: 57px;
    box-shadow: 0 4px 6px 0 #20212447;
}

.search-auto-list__show {
    opacity: 1;
    visibility: visible;
}
.search-auto-item {
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    cursor: pointer;
    border-radius: 7px;
    transition: 0.2s ease;
    font-size: 14px;
    font-weight: 400;
}
.search-auto-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
