@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');
// html,
.top-history-search-wrapper {
    // background: #252833;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
// html *,
// body * {
//
// }

.top-history-search-cards {
    width: calc(100% - 2em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: 'a a b c' 'a a d d';
    width: 98%;
}

.top-history-search-card {
    width: 100%;
    position: relative;
    transition: all 0.25s ease;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.top-history-search-card:last-child {
    margin-bottom: 0;
}
.top-history-search-card:before {
    height: 0;
    content: '';
    display: block;
    padding-bottom: 47.36%;
}
.top-history-search-card.content:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.top-history-search-card:nth-child(1) {
    grid-area: a;
    background: #334d50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #cbcaa5,
        #334d50
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top-history-search-card:nth-child(2) {
    grid-area: b;
    background: linear-gradient(to right, #00416a, #e4e5e6);
}
.top-history-search-card:nth-child(3) {
    grid-area: c;
    background: #ffe259; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffa751,
        #ffe259
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top-history-search-card:nth-child(4) {
    grid-area: d;
    background: #b92b27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565c0, #742a27); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #254c79,
        #d1514d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top-history-search-card-content {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.top-history-search-card-img {
    // background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.top-history-search-card-img img {
    margin: 3%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 30%;
    height: 30%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: rotate(30deg);
}
.top-history-search-card-label {
    position: absolute;
    top: 0.45rem;
    left: 0.45rem;
    background: #089f8a;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1vw;
    color: white;
    padding: 0.5em;
}
.top-history-search-card-title {
    width: 70%;
    position: absolute;
    // left: 1em;
    // bottom: 1em;
    color: #d6dbeb;
    z-index: 5;
    line-height: 2;
    font-size: 1.1vw;
    font-weight: 800;
}
.top-history-search-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}