.signup-form {
    width: 100%;
}
input,
button,
textarea,
select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.btn {
    display: inline-block;
    border: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
}
.btn--gradient {
    background-image: linear-gradient(to bottom, #ff1d75, #f8902f);
    width: 100%;
    color: white;
    margin-top: 25px;
}
.btn--facebook {
    background-color: #5972a8;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn--google {
    background-color: #df4a32;
    width: 100%;
    color: #fff;
}
#input-field-custom {
    font-size: 1.3rem;
    outline: none;
}

#input-field-custom:focus {
    background-color: white;
    box-shadow: 0 10px 20px -5px rgba(163, 165, 178, 0.4);
    -webkit-box-shadow: 0 10px 20px -5px rgba(163, 165, 178, 0.4);
}
