.profile {
    color: var(--text-color-1);
    background-color: var(background-color-1);

    &-form-wrapper {
        margin-top: 120px;
        max-width: 500px;
    }
    &-title {
        margin-bottom: 20px;
    }
}
