@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    --white-color : #fff;
    --black-color : #000;
    --sub-color : #b3b3b3;
    --border-color : #dbdbdb;
    --primary-color: #1db954;
    --shadow-color: #d5d5d5;
    
    --header-bg: #2c3e50;

    --header-height : 70px;
    --footer-height: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Animation */

