.player-queue {
    position: absolute;
    top: 0;
    right: 0;
    width: 32rem;
    height: 100%;
    background-color: #e2e3ee;
    z-index: 100;
    transform: translateX(100%);
    opacity: 0.5;

    padding: 0 8px;

    transition: all 0.6s;

    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3), inset 0 1px 1px hsla(0, 0%, 100%, 0.3);
}

.player-queue--active {
    transform: translateX(0);
    opacity: 1;
}

.queue-title {
    font-size: 1.6rem;
    font-weight: 500;

    color: var(--sub-color);

    padding: 20px 0;
}
