.header-container {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    left: 0;
    background-color: #1d1d1d;
}
header > div {
    width: calc(100% - 3rem);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#search-header {
    flex-grow: 1;
}

#search-header .name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    mix-blend-mode: difference;
}

#reference {
    margin-left: auto;

    .btn-login,
    .btn-signup {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.1px;
        line-height: 18px;
        padding: 8px 28px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 500px;
        background-color: transparent;

        transition: all 0.1s;
    }

    .btn-login:hover,
    .btn-signup:hover {
        transform: scale(1.04);
    }

    .btn-login {
        color: #000;
        background-color: #fff;
    }
}
