#blurry-filter {
    margin-left: 200px;
    width: 100%;
    height: 6rem;
    mask: linear-gradient(black 7rem, transparent);
    -webkit-mask: linear-gradient(black 7rem, transparent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
    touch-action: none;
}

header {
    width: 100%;
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
header > div {
    width: calc(100% - 3rem);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#search-header {
    width: 100%;
}
#search-header .name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    mix-blend-mode: difference;
}

#reference {
    display: flex;
}
#reference > a {
    color: #444;
}
#reference > a + a {
    margin-left: 1rem;
}
