.footer-wrapper {
}

.footer {
    height: 100px;
    background-color: #252525;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
}

.footer-info {
    color: var(--white-color);

    display: flex;
    align-items: center;

    height: 100%;
    width: 30%;
}

.info__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.info__name > a {
    text-decoration: none;
    display: inline-block;

    font-size: 1.5rem;

    margin-bottom: 3px;
    margin-right: 15px;
    color: var(--white-color);
}

.list-artist a {
    text-decoration: none;

    color: var(--sub-color);

    text-decoration: underline;
    font-size: 1.1rem;
}

.list-artist a:not(:last-child) {
    padding-right: 5px;
}

.footer-info > i {
    font-size: 1.7rem;
}

.footer-playing {
    color: var(--white-color);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    width: 40%;
}

.footer-control {
    font-size: 1.8rem;
    width: 250px;
    margin-bottom: 12px;

    position: relative;

    display: flex;
    justify-content: space-between;
}

.footer-control > i {
    display: inline-block;
    padding: 12px;
}
.footer-control > i:hover {
    cursor: pointer;
}

.footer-control > .icon-play {
    border-radius: 50%;
    color: #000;
    background-color: var(--white-color);
}

.footer-feature {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-feature i {
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 12px;
    cursor: pointer;
}

.volume-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.progress-volume {
    line-height: 41px;
    color: var(--white-color);
}
.progress-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar span {
    color: var(--sub-color);
    line-height: 14px;
    width: 30px;
}

.progress-bar span.duration-time {
    text-align: right;
}
.progress-bar .css-yvszuv-Slider {
    height: 4px;
    background-color: #535353;
    flex-grow: 1;
    margin: 0 7px;
}

.progress-bar .css-3g5hux-Slider {
    background-color: #1db954;
}

.progress-bar .css-1ldz52l-Slider {
    height: 14px;
    width: 14px;
}

.volume-wrapper .css-yvszuv-Slider {
    height: 4px;
    background-color: #535353;
    flex-grow: 1;
    margin: 0 5px;
}

.volume-wrapper .css-3g5hux-Slider {
    background-color: #1db954;
}

.volume-wrapper .css-c5m0sj {
    background-color: #1db954;
}

.progress-bar .css-c5m0sj {
    background-color: #1db954;
}

.volume-wrapper .css-1ldz52l-Slider {
    height: 14px;
    width: 14px;
}

.volume-wrapper i {
    cursor: pointer;
}

.fa-random-active {
    color: #1db954;
}

.fa-repeat-active {
    color: #1db954;
}
.repeat-tooltip {
    width: 170px !important;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
