.library-artist-wrapper {
    padding: 20px 32px;
}
.library-artist-title {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 28px;
    text-transform: none;
}
.library-artist-item {
    // background: #f2f4f8;
    display: flex;
    justify-content: flex-start;
    // justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
