.search-content-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: none;
}
.search-content-top-wrapper {
    width: 40%;
    height: 180px;
    background-color: rebeccapurple;
}

.search-container {
    padding: 0 32px;
}

.search-content-title {
    margin-bottom: 15px;
}

.search-content-title {
    margin-top: 25px;
}
