.logo {
    display: block;
    justify-content: center;
    padding: 0 24px;
    margin-bottom: 25px;
}

.logo img {
    width: 17rem;
}
.sidenav {
    padding-top: 24px;
    height: calc(100vh - var(--footer-height));
    width: var(--sidebar-width);
    position: fixed;
    font-size: 14px;
    font-weight: 700;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #121212;
    overflow-x: hidden;
}

.container-sidenav {
    padding: 0 8px;
}

/* Side navigation links */
.sidenav-item {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 4px;
    font-weight: 400;
    padding: 0 16px;

    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
}

.sidenav-item span {
    font-size: 1.4rem;
}

.sidenav-item:hover {
    color: #fff;
}

.sidenav-item--active {
    color: #fff !important;
    background-color: hsla(0, 0%, 100%, 0.3);
}

.sidenav span {
    margin-left: 10px;
}
.sidenav-user-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;

    --left-sidebar-item-height: 32px;
    --left-sidebar-padding-left: 24px;
    --left-sidebar-padding-right: 24px;
    --left-sidebar-item-pill-horizontal-padding: 7px;
    --left-sidebar-item-indentation-width: 16px;
    --left-sidebar-edit-input-height: 26px;
    -ms-flex-positive: 1;
    -ms-flex-negative: 0;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 24px;
    position: relative;
}
